account_id              = "0d26daa6-5e44-4c97-a497-ef015f91254a"
account_profile         = "one-env-account"
workspace_name          = "lakebase-terraform-ws"
aws_region              = "us-east-1"
metastore_id            = "cc9be128-0493-426b-8d96-68d98d08517b"
catalog_name            = "teaching_strategies"
lakebase_project_id     = "teaching-strategies-project"
lakebase_catalog_name   = "teaching_strategies_pg"
user_email              = "andrea.tardif@databricks.com"
service_principal_name  = "lakebase-terraform-sp"
group_name              = "lakebase-users"
